@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600;700&family=Fraunces:wght@700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-sred: 7deg 99% 70%;
    --color-yellow: 51deg 100% 49%;
    --color-ddcyan: 167deg 40% 24%;
    --color-dblue: 198deg 62% 26%;
    --color-dmcyan: 168deg 34% 41%;
    --color-vddblue: 212deg 27% 19%;
    --color-vdgblue: 213deg 9% 39%;
    --color-dgblue: 232deg 10% 55%;
    --color-gblue: 210deg 4% 67%;
    --color-white: 0deg 0% 100%;
  }
}
